
body {
  background-color: #76f3b4; 
  font-family: 'Poppins', sans-serif;
  color: #5C4033;
  margin: 0;
  padding: 0;
}

.contCardsHome{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 20px;
  border-radius: 10px;
}

h3 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

p {
  font-size: 18px;
  color: #fff;
}

.public-h2 {
  font-size: 30px;
  text-align: center;
  color: #8B5E3B; 
  margin: 40px 0;
  font-weight: bold;
}


.public-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cont-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}


.card {
  background-color: #FFF5E1; 
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 18rem; 
  margin-bottom: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #6B4226; 
}

.card-text {
  font-size: 14px;
  color: #7D5A44;
}

.card-img-top {
  border-radius: 12px 12px 0 0;
  height: 180px;
  object-fit: cover;
}


.btn-primary {
  background-color: #D2A679; 
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #B8865B;
}


.profile-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #D2A679;
  border-radius: 8px;
  background-color: #FFF5E1;
  font-size: 16px;
  color: #7D5A44;
}

.profile-input:focus {
  border-color: #8B5E3B;
  outline: none;
}


@media (max-width: 768px) {
  .public-h2 {
    font-size: 24px;
  }

  .card {
    width: 90%; 
  }
}

@media (max-width: 480px) {
  .public-h2 {
    font-size: 20px;
  }

  .card {
    width: 100%;
  }
}
